<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible"
          content="IE=Edge">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap"
          rel="stylesheet">
    <title>Email de confirmação</title>
    <style>
        html, body, main {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: 'Muli', sans-serif;
        }

        .container {
            margin: auto;
            padding: 10px;
            width: 45%;
            height: 100%;
        }

        .content {
            padding: 30px;
            margin: auto;
            height: 90%;
            background-color: #f7f7f7;
            box-shadow: 10px 5px 30px -15px #d1d1d1;
        }

        .content-header {
            height: 20%;
            text-align: center;
        }

        .content-body {
            height: 60%;
            background-color: #fff;
            text-align: center;
            border-radius: 15px 15px 0 0;

        }

        .content-body > p {
            font-size: 18px;
        }

        .content-body-title {
            padding: 50px 30px 18px 30px;
            line-height: 36px;
            font-size: 36px;
        }

        .content-footer {
            height: 20%;
            background-color: #6e6e6e;
            text-align: center;
            padding: 10px 50px;
        }

        .content-footer > p {
            color: #ffffff;
            font-weight: bold;
            font-size: 14px;
        }

        .footer {
            margin: auto;
            height: 10%;
            text-align: center;
        }

        .footer > span {
            margin-top: 5px;
            display: block;
            font-size: 12px;
        }

        #confirm-button {
            background-color: #000000;
            border: 1px solid #000000;
            border-radius: 0;
            color: #ffffff;
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0;
            line-height: normal;
            padding: 12px 40px 12px 40px;
            text-align: center;
            text-decoration: none;
            margin-top: 15px;
        }

        #powered-button {
            background-color: #f5f8fd;
            border: 1px solid #f5f8fd;
            border-radius: 25px;
            color: #a8b9d5;
            display: inline-block;
            font-size: 10px;
            font-weight: normal;
            letter-spacing: 0px;
            line-height: normal;
            padding: 5px 18px 5px 18px;
            text-align: center;
            text-decoration: none;
            font-family: helvetica, sans-serif;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <main class="container">
        <div class="content">
            <div class="content-header">
                <h1>Symfony DDD Skeleton</h1>
            </div>
            <div class="content-body">
                <div class="content-body-title">
                    <span>Bem vindo, <strong>{{ username }}</strong></span>
                </div>
                <p>Por favor, confirme seu endereço de e-mail, <br/>clicando no botão abaixo, para
                    <b>finalizar seu registro.</b><br/><b>Obrigado!</b></p>
                <div>
                    <a href="{{ signedUrl }}"
                       id="confirm-button"
                       target="_blank">Confirmar registro</a>
                </div>
            </div>
            <div class="content-footer">
                <p>Por favor, ignore esta mensagem caso, não tenha solicitado o registro conosco
                    recentemente.</p>
            </div>
        </div>
        <div class="footer">
            <span><strong>Symfony-DDD-Skeleton</strong></span>
            <span>City, State - Country</span>
            <a href="#"
               id="powered-button"
               target="_blank">POWERED BY HENRIQUE VASCONCELOS</a>
        </div>
    </main>
</body>
</html>
